* {
  box-sizing: border-box;
}

head,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  max-width: 100%;
}

input[type="text"],
select {
  width: 70%;
  height: 35px;
  border-style: none;
  background-color: lightgrey;
  border-radius: 4px;
}

input[id="zip"]{
  width: 40%;
}

input[id="textarea"] {
  width: 70%;
  height: 100px;
}

h1 {
  padding: 20px 5px 20px 5px;
  background: darkgrey;
  color: white;
  margin: 0;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-weight: bold;
  text-align: center;
}

header p {
  color: grey;
  text-align: center;
}

fieldset {
  border: none;
}

legend {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

::placeholder {
  text-align: right;
  padding: 3px;
  font-style: italic;
  font-size: 12px;
}

input:focus,
textarea:focus,
select {
  outline-color: #00BFFF;
}

select {
  font-family: 'Open Sans', sans-serif;
}

#top {
  height: 5px;
  background-color: black;
  margin: 0 15px 0 15px;
}

hr {
  background-color: black;
  margin: 3px 15px 10px 15px;
}

footer {
  font-style: italic;
  text-align: center;
}
